{% extends 'master.html' %}

{% block content %}
<div class="center-container">
  <div class="content-container">
    <h2>Confirm Password Reset</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
          <div class="error-message">{{ form.new_password1.errors|join:", " }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <div class="error-message">{{ form.new_password2.errors|join:", " }}</div>
        {% endif %}
      </div>
      <button type="submit" class="reset-button">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}


{% comment %} {% extends 'reset.html' %}

{% block content %}
  <h2>Confirm Password Reset</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form>
{% endblock %} {% endcomment %}

