{% extends 'master.html' %}
{% block content %}
  <div class="password-reset-form">
    <form method="POST">
      {% csrf_token %}
      <h2>Password Reset</h2>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <div class="form-group">
        <button type="submit" class="reset-button">Reset Password</button>
      </div>
    </form>
  </div>
{% endblock %}


{% comment %} {% extends 'master.html' %}

{% block content %}
  <h2>Password Reset</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form>
{% endblock %} {% endcomment %}
